<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
        
                <div class="card mb-3" >
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwDuaD79VmRx5KyNuxtUgKz_qi146USdzrYhp8JeAow59hz6Z1uBJBUa6MZGFlEqz6n9s&usqp=CAU" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" style="text-align: center;">ADMIN LOGIN</h5>
                          <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label">Email Id</label>
                            <input name="email" [(ngModel)]="email" type="text" placeholder="Username" class="form-control">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label">Password</label>
                            <input name="password" [(ngModel)]="password" type="password" id="" placeholder="Password" class="form-control">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                            <br>
                            <button (click)="readValue()" class="btn btn-dark">Login</button>
                        </div>
                        <br>
                      <div class="text-center small">Already an User? <a href="/userlogin">Login</a></div>
                        </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
            
        </div>
        </div>
    </div>


